flask
flask-cors
flask-socketio
eventlet
pyngrok
torch
torchvision
torchaudio
diffusers
transformers
accelerate
insightface
onnxruntime-gpu
opencv-python-headless
huggingface_hub
faster-whisper
moviepy
imageio-ffmpeg
